/**
 * START GENERAL STYLE ==============================
 */

/* Import fonts */

@import url("./../fonts/FrutigerBold/stylesheet.css");
@import url("./../fonts/FrutigerLight/stylesheet.css");
@import url("./../fonts/FrutigerNormal/stylesheet.css");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.font-light {
  font-family: "FrutigerL", Arial;
}

.font-bold {
  font-family: "FrutigerB", Arial;
}

body,
div,
p {
  font-family: "FrutigerN";
}

body {
  font-size: 16px;
}

h2 {
  font-size: 20px;
  color: #222;
  font-family: "FrutigerB";
  line-height: 140%;
  margin-bottom: 20px;
}
/**
 * END GENERAL STYLE ================================
 */

* {
  outline: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Topbar */
.topbar {
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.5rem;
  background: white;
  color: #e2001e;
  line-height: 7vh;
  box-shadow: 0px 0px 12px 1px rgba(51, 51, 51, 0.18);
  z-index: 10;
  position: fixed;
  background-image: url("../img/logo/logo.png");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* Content */
.content-container {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 60px;
  margin-bottom: 120px;
}

.content {
  box-sizing: border-box;
  width: 100%;
}

.indent-container {
  padding-left: 30px;
  padding-right: 30px;
}

.silver-line {
  border-bottom: 1px solid #e2e2e2;
  margin-top:20px;
  margin-bottom: 20px;
}

/* Navigation */
.navigation {
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 60px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.25);
}

.navigation > .donate-button {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  left: calc(50vw - 50px);
  bottom: 20px;
  border-radius: 50%;
  background-color: white;
  /*border: 0.5vh solid #e2001e;*/
  box-shadow: 0px 2px 13px 2px rgba(51, 51, 51, 0.23);
  z-index: 10;
  background-image: url("../img/logo/rotes_kreuz.svg");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: 50% 32%;
  text-align: center;
  padding-top: 62px;
  text-decoration: none;
  font-family: "FrutigerN";
  text-transform: uppercase;
  font-size: 14px;
  color: #e2001e;
  font-weight: bold;
}

.navigation .navigation-left {
  box-sizing: border-box;
  display: inline-block;
  width: 50vw;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url("../icons/view_module.svg");
  background-position-x: calc(50%);
  background-position-y: 3px;
  background-size: 40px;
  background-repeat: no-repeat;
  font-size: 14px;
  opacity: 0.35 !important;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  overflow: hidden;
  padding-top: 40px;
}

.navigation .navigation-right {
  box-sizing: border-box;
  display: inline-block;
  width: 50vw;
  height: 100%;
  left: 50vw;
  bottom: 0;
  background-image: url("../icons/person.svg");
  background-position: 55% 10%;
  background-position-x: calc(50%);
  background-position-y: 3px;
  background-size: 35px;
  background-repeat: no-repeat;
  font-size: 14px;
  opacity: 0.35 !important;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  overflow: hidden;
  padding-top: 40px;
}

.navigation-left.navigation-active {
  opacity: 0.75 !important;
}
.navigation-right.navigation-active {
  opacity: 0.75 !important;
}

/* Donate Page */
.donate-page {
  margin-top: 30px;
}

.donate-page .payment-settings #donation-amount {
  box-sizing: border-box;
  width: auto;
  height: 6vh;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  padding: 20px 5px;
  margin-bottom: 10px;
}

.donation-recommendations-button {
  margin: 0;
  padding: 0;
  width: 33.333%;
  height: 6vh;
  background-color: #e2001e;
  color: white;
  box-shadow: 0 0 0 0 #000000;
  border: none;
  font-style: "FrutigerB", Arial;
}

.donation-recommendations-button:active {
  background-color: #d1000d;
}

.donation-recommendations-button:first-of-type {
  border-right: 1px solid white;
}

.donation-recommendations-button:last-of-type {
  border-left: 1px solid white;
}

.donation-interval {
  width: 33.333%;
  height: 6vh;
  display: inline-block;
  text-align: center;
  line-height: 6vh;
}

.donation-divider {
  margin-top: 2vh;
  font-size: 4vmin;
  color: #aaaaaa;
  text-align: center;
}

.donation-option-featured {
  box-sizing: border-box;
  margin-top: 2vh;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background-color: #e2001e;
  border: 0.5vh solid #d1000d;
  margin-bottom: 1vh;
}

.donation-option {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 300px;
  padding: 0;
  display: inline-block;
  background-size: cover;
  position: relative;

  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -ms-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -o-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
}

.donation-option .tile-text {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  font-size: 14px;
  line-height: 1.4em;
  width: 75%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
}

/**
 * START DASHBOARD STYLE ==============================
 */
.dashboard-wrapper {
  padding-bottom: 30px;
}

.row {
}

.row-title {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 30px;
}
.row-wrapper {
  width: 100%;
  overflow-x: scroll;
}
.row-scroller {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  box-sizing: content-box !important;
}

.tile-lg {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 5px;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
}
.tile-small {
  height: 150px;
  width: 46%;
  float: left;
  margin: 2%;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
}
.tile-wide {
  height: 200px;
  width: 96%;
  float: left;
  margin: 2%;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
}

.tile {
  height: 140px;
  width: 220px;
  float: left;
  margin-right: 5px;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px -30px 30px rgba(0, 0, 0, 0.85);
}

.tile-tag {
  background: url(./../img/bar.png);
  width: 95px;
  height: 53px;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: right;
  padding-right: 13px;
  padding-top: 16px;
  right: 0px;
  top: 80px;
  font-style: italic;
}
.tile-tag-live {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: rgb(255, 0, 29);
  padding-left: 17px;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
}
.tile-heart {
  height: 27px;
  width: 29px;
  background: url(./../img/heart.png);
  position: absolute;
  right: 10px;
  top: 10px;
}
.round-checkbox {
  border: 2px solid white;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  right: 15px;
  bottom: 15px;
}
.round-checkbox.on {
  background: url(./../img/checked.png) center no-repeat;
}
.tile-tag-live .dot {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  background: rgb(255, 0, 29);
  left: 0;
}
.tile-text {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  font-size: 14px;
  line-height: 1.4em;
  width: 75%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
}

.row {
}
/**
 * END DASHBOARD STYLE ================================
 */

/* PROFILE SECTION */
.profile-header {
  height: 200px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

.profile-name {
  padding-top: 20px;
  font-size: 22px;
  color: black;
}

.profile-picture img {
  margin: 0;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
}

.profile-scrollmenu {
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: 10px;
}
.profile-scrollmenu .profile-inner-scroll {
  white-space: nowrap;
  display: flex;
  flex-flow: wrap;
  width: 1600px;
}

.profile-stats {
 display:flex;
 flex-flow: column;
}

.profile-stats .line {
  display:flex;
  line-height:150%;
}
.profile-stats .name {
  width:200px;
  color:grey;
}

.profile-card {
  margin-right: 10px;
  height: 200px;
  width: 300px;
  padding: 0;
  display: inline-block;
  background-size: cover;
  position: relative;

  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -ms-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
  -o-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.85);
}

.profile-card .text {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  font-size: 14px;
  line-height: 1.4em;
  width: 75%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
}

.profile-badges img {
  width:100%;
  max-width:400px;
}

.myDonation-button {
  background-color: #e2001a;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  font-family: "FrutigerB";
}

.profile-progress-card {
  box-sizing: content-box;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-progress-title {
  font-size: 22px;
  display: inline-block;
  font-size: 20px;
}

.profile-progress-amount {
  font-size: 18px;
  text-align: right;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}

.profile-progress {
  height: 20px;
  padding: 0px;
  margin: 0px;
  background: #e8e8e8;
  border-radius: 25px;
}

.profile-progress-date {
  margin: 10px 0;
  font-size: 12px;
  color: #9a9a9a;
}

.profile-progress-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-progress-fill {
  padding: 0px;
  margin: 0px;
  height: 100%;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

/* CATEGORY */
.category-header {
  height: 200px;
}

.category-opacity {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 0)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
  background-image: -o-linear-gradient(top, #ffffff 0%, rgba(0, 0, 0, 0) 50%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, rgba(0, 0, 0, 0) 50%);
  background-image: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    rgba(0, 0, 0, 0) 50%
  );
  background-image: -ms-linear-gradient(top, #ffffff 0%, rgba(0, 0, 0, 0) 50%);
  background-image: linear-gradient(to top, #ffffff 0%, rgba(0, 0, 0, 0) 50%);
  height: 100%;
  position: relative;
  width: 100%;
}

.category-title {
  padding-left: 20px;
  padding-bottom: 15px;
  bottom: 0;
  position: absolute;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.category-subtitle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 20px;
  color: red;
}

.category-spende-button {
  width: 250px;
  height: auto;
  margin-left: 15px;
  margin-top: 20px;
}

.category-text {
  font-size: 14px;
  line-height: 1.5;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  color: black;
}

.stories-date {
  font-size: 11px;
  padding-top: 7px;
  padding-right: 7px;
  color: grey;
  text-align: right;
}

.stories-images {
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
}

.project-container {
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-left {
  font-size: 12px;
  line-height: 1.5;
  width: 35%;
  display: inline-block;
}

.project-right {
  font-size: 12px;
  line-height: 1.5;
  width: 65%;
  display: inline-block;
}

/* Images */
